<!DOCTYPE html>
<html>
	<head>
		<title>Messagerie Dubois</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css">
		<link rel="icon" type="image/png" href="img/feather55x55.png" />
		<link rel="stylesheet" type="text/css" href="/css/skeleton.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		
    <meta name="robots" content="noindex">
    <meta name="google" content="noindex">
    <meta name="Slurp" content="noindex">
    <meta name="msnbot" content="noindex">
    <meta name="bingbot" content="noindex">		
		
		<style>
			body {
				width: 100%;
				height: 100%;
			}
			@media only screen and (max-device-width: 480px) { body { background: white; }}
		</style>
	</head>

	<body>
    <div id="login">
      <img class="u-pull-left feather" src="img/feather100x100.png" width="35" height="35" alt="" />
      <h4 class="u-pull-left">Messagerie Dubois</h4>
      <form action="/" method="post" id="formulaire_login">
				<select class="u-full-width connect_element" id="user">
					<option value="Prénom">
						Prénom Nom
					</option>
				</select>
				<input class="u-full-width connect_element" type="password" size="40" placeholder="Code vendeur" id="code">
				<input class="button-primary u-full-width" type="button" value="Connexion" id="submit">
      </form>
    </div>
	  <script type="text/javascript" src="js/login.js"></script>
	</body>
</html>
