* { font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
input, textarea { border-radius: 2px !important; }
html, body {
  margin: 0 0;
  padding: 0 0;
  background: #f5f5f5;
  min-width: 650px;
  overflow-x: hidden;
}
@media only screen and (max-device-width: 480px) {
  .container { padding: 0 12px; }
  html, body { min-width: 0px; }
}





#login {
  padding: 15px;
  background: white;
  margin: auto;
  margin-top: 100px;
  max-width: 300px;
  border-radius: 1px;
}
#login h4 { margin-left: 8px; }
#login form { margin: 0 0; }
#login input {
  padding: 8px;
  border: 1px solid #d6d6d6;
}
#login input.button-primary {
  margin: 0 0; padding: 0 0;
  border: 0px;
}
@media only screen and (max-device-width: 480px) {
  #cover-login #login {
    width: 250px;
  }
}




#cover {
  position: fixed;
  top: 0px;
  left: 0px;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 9999;
}




header {
  z-index: 1;
  height: 50px;
  min-width: 650px;
  width: 100%;
  position: fixed;
  background: white;
  box-shadow: 0px 1px 7px #f5f5f5;
  border-bottom: 1px solid #d6d6d6;
  /*overflow: hidden;*/
}
header .feather {
  margin: 5px 0 0 0;
  opacity: 0.9;
}
.header-button {
  margin: 10px 0 0 0;
  opacity: 0.7;
  display: inline-flex;
  cursor: pointer;
  padding: 3px 8px;
  transition-duration: 200ms;
  border-radius: 2px;
  border: 1px solid #c7c7c7;
  font-size: 15px;
}
header #all-users {
  font-size: x-large;
  margin-right: 10px;
}
header #disconnect:hover { border: 1px solid rgba(255, 0, 0, 0.6); }
header #all-users:hover { border: 1px solid #4099FF; }
header #disconnect span { margin-right: 8px; }
header #disconnect img { margin-top: 5px; }
header h3 {
  width: 310px;
  margin: 2px 0 0 10px;
  opacity: 0.9;
}
@media only screen and (max-device-width: 480px) {
  header {
    height: 44px;
    min-width: 0px;
  }
  header #disconnect span {  display: none; }
  header #disconnect img { margin: 0 0; }
  header #disconnect {
    padding: 6px 6px;
    margin-top: 8px;
  }
  header #all-users { display: none; }
  header .feather {
    width: 30px;
    height: 30px;
    margin-top: 6px;
  }
  header h3 {
    width: 215px;
    font-size: 25px;
    margin-top: 5px;
  }
}



.container-list-users {
  width: 420px;
  margin: auto;
}
#list-users {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
#list-users ul {
  transition-duration: 200ms;
  background: #fff;
  width: 100%;
  margin: 50px auto 0 auto;
  border-radius: 1px;
  color: #555;
  list-style: none;
  float: left;
}
#list-users li.legend {
  width: 100%;
  font-style: normal;
  color: #222;
  background: #eaeaea;
  text-align: center;
  padding: 5px 0px;
  font-weight: bold;
}
#list-users li:nth-of-type(2), #list-users li:nth-of-type(3) { padding-top: 4px; }
#list-users li:last-child, #list-users li:last-child { padding-bottom: 5px; }
#list-users li {
  margin-bottom: 0px;
  opacity: 0.4;
  width: 50%;
  float: left;
}
#list-users li.connected {
  opacity: 1;
  font-weight: bold;
}
#list-users li.connected .connected-status { color: green; }
#list-users li .connected-status {
  color: red;
  text-align: right;
  margin-top: 3px;
  font-size: small;
}




#zone_chat {
  padding: 75px 0 155px 0;
  max-height: 100%;
}
#zone_chat p:last-child { margin-bottom: 0px; }
#zone_chat p strong {
  font-size: 16px;
}
#zone_chat p strong.my { color: #1EAEDB; }
#zone_chat p strong.other { color: rgba(255, 0, 0, 0.5)}
#zone_chat p strong.important { color: rgba(255, 0, 0, 0.5);}
#zone_chat p {
  padding: 14px;
  background: white;
  margin-bottom: 12px;
  animation-duration: 1000ms;
  border-bottom: 1px solid #d3d3d3;
}
#zone_chat p .date {
   opacity:0.5;
   font-weight: lighter;
   font-family: arial;
   font-size: 13px;
}
#zone_chat p.p-other-users {
  border-right: 2px solid rgba(255, 0, 0, 0.5);
  animation-name: pop-animation-other-users;
}
@keyframes pop-animation-other-users {
  from { border-right: 12px solid rgba(255, 0, 0, 0.5); opacity: 0; };
  to { border-right: 4px solid rgba(0, 155, 0, 1);  opacity: 1; };
}
#zone_chat p.p-my-user {
  border-left: 2px solid #1EAEDB;
  animation-name: pop-animation-my-users;
}
@keyframes pop-animation-my-users {
  from { border-left: 12px solid #1EAEDB; opacity: 0; };
  to { border-left: 4px solid #1EAEDB;  opacity: 1; };
}
#zone_chat p.message-for-me, #zone_chat p.important {
  border: 1px solid rgba(255, 0, 0, 0.5);
  animation-name: pop-animation-for-me;
}
#zone_chat p.important { border: 4px solid rgba(255, 0, 0, 0.5) !important; }
@keyframes pop-animation-for-me {
  from { border-right: 12px solid rgba(255, 0, 0, 0.5); opacity: 0; };
  to { border-right: 4px solid rgba(255, 0, 0, 0.5);  opacity: 1; };
}





#form textarea { margin-bottom: 5px; }
#form form { margin-bottom: 0px; }
#form {
  background: #f5f5f5;
  width: 100%;
  padding-top: 12px;
  border-top: solid 1px #d6d6d6;
  position: fixed;
  bottom: 0px;
  min-width: 650px;
}
#form p.txt-form {
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 0;
  color: black;
  white-space:nowrap;
  transition-duration: 300ms;
}
#form p.txt-form:hover { opacity: 1; }
#form p.txt-form b { color: #111; }
@media only screen and (max-device-width: 480px) {
  #form p.txt-form { display: none; }
  #form .row input { width: 100%; }
  #form { min-width: 0px; }
}
